In [1]:
import seaborn as sns
import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

%matplotlib inline

In [37]:
def get_date_features(df):
    df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M')
    df['year'] = df.loc[:, 'datetime'].dt.year
    df['month'] = df.loc[:, 'datetime'].dt.month
    df['day'] = df.loc[:, 'datetime'].dt.day
    df['hour'] = df.loc[:, 'datetime'].dt.hour
    df['weekday'] = df.loc[:, 'datetime'].dt.weekday
    
    return df

y_label = 'count'

def get_day_period(hour):
    if hour >= 6 and hour < 12:
        return "morning"
    elif hour >= 12 and hour < 18:
        return "day"
    elif hour >= 18 and hour < 24:
        return "evening"
    elif hour == 24 or hour < 6:
        return "night"
    else:
        print("Error with " + str(hour))

def prepare_features(df, target_feature):
    df_output = df.copy()
    
    df_output["day_period"] = df_output["hour"].map(get_day_period)
    df_output["year"] = df_output["year"].map(lambda x: x - 2011)
    
    for i in ["casual", "registered", "count", "datetime", "day", "hour", "atemp"]:
        if i != target_feature:
            df_output = df_output.drop([i], axis = 1)
    
    return df_output

In [34]:
df = pd.read_csv('data/train_bikes.csv')

df = df.pipe(get_date_features).pipe(prepare_features, y_label)

In [36]:
df.head()

,season,holiday,workingday,weather,temp,humidity,windspeed,count,year,month,weekday,day_period
0,1,0,0,1,9.84,81,0.0,16,0,1,5,night
1,1,0,0,1,9.02,80,0.0,40,0,1,5,night
2,1,0,0,1,9.02,80,0.0,32,0,1,5,night
3,1,0,0,1,9.84,75,0.0,13,0,1,5,night
4,1,0,0,1,9.84,75,0.0,1,0,1,5,night

In [17]:
for i in ["holiday", "season", "weather", "workingday", "day_period", "hour"]:
    print('')
    print(i)
    print(df[i].value_counts())
    print('_____________________________________________')

holiday
0    10575
1      311
Name: holiday, dtype: int64
_____________________________________________

season
4    2734
3    2733
2    2733
1    2686
Name: season, dtype: int64
_____________________________________________

weather
1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64
_____________________________________________

workingday
1    7412
0    3474
Name: workingday, dtype: int64
_____________________________________________

day_period
day        2736
evening    2736
morning    2730
night      2684
Name: day_period, dtype: int64
_____________________________________________

hour
23    456
20    456
16    456
17    456
18    456
15    456
12    456
19    456
13    456
21    456
14    456
22    456
6     455
11    455
10    455
9     455
7     455
8     455
0     455
1     454
5     452
2     448
4     442
3     433
Name: hour, dtype: int64
_____________________________________________